<div class="container">
  <div class="child">
    <b>Address Lookup</b>

    <div id="search">
      <input type="text" name="addr" [(ngModel)]="address" size="50px" />
      <button type="button" (click)="addrSearch()">Search</button>
      <!-- <div #resultSet></div> -->
      <ng-container *ngFor="let result of data">
        <span
          ><br /><button (click)="chooseAddr(result.lat, result.lon)">
            {{ result.display_name }}
          </button></span
        >
      </ng-container>
    </div>
  </div>

  <div class="child">
    <b>Coordinates</b>
    <form>
      <input type="text" name="lat" id="lat" size="12" [(ngModel)]="latitude" />
      <input
        type="text"
        name="lon"
        id="lon"
        size="12"
        [(ngModel)]="longitude"
      />
    </form>
  </div>
</div>
<div id="map" style="width: 100%; height: 50%" #map></div>
